@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop 24X7 </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="text-center">
            <div class="alert-success">
                <h1 class="display-4">Welcome</h1>
                <p>Order your favourite pizzas here as fastest as posisble!!</p>
            </div>
        </div>
    </div>

    <img style="margin-left:10px;" src="https://th.bing.com/th/id/OIP.KFZN4mmNthwOGYBhY_lplQHaEK?w=319&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" width="1090" height="350">


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
